# Xcode
DerivedData/
build/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
**/*.xcworkspace/xcuserdata/
**/*.xcodeproj/xcuserdata/

# Swift Package Manager
.build/
.tmp/

# macOS
.DS_Store
